.startButton {
    all: unset;
    font-family: sans-serif;
    text-align: center;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    min-width: 184px;
    min-height: 36px;
    padding: 16px 0;
    margin-top: 4.375rem;
    font-family: Poppins;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;


    cursor: pointer;
    border: none;
    color: white;
    background-color: #006EFD;
}

.startButton:hover{
    background-color: #E2E2E2;
}